
* {
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    opacity: 0;
    transition: opacity 2s;

}
.logo h2{
    text-align: left;
    margin-right: 110px;
}
.hero {
    width: 100%;
    height: 100vh;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 200px;
}

.nav .link ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}

.nav .link ul a {
    text-decoration: none;
    color: #2a2a2a;
    font-weight: 600;
    transition: all 200ms ease-in-out;
}

ul a .active {
    color: #9c4a57;
}

.nav .link ul a:hover {
    color: darkcyan;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    margin-top: 50px;

}

.main .men {
    width: 600px;
    transition: all 2000ms ease;
    cursor: pointer;
}

.main .men:hover{
    transform: scale(1.3);
}

.main .main-detil {
    text-align: center;
    color: #2a2a2a;
}

.main .main-detil h1 {
    font-size: 50px;
    color: #ca4258;

}

.main .main-detil p {
    font-size: 30px;
    margin-bottom: 20px;
}

.main .btn button {
    padding: 8px 20px;
    background: transparent;
    border-radius: 30px;
    border: 1px solid #2a2a2a;
    margin-right: 1rem;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}
.main .btn button:hover{
    transition: all 200ms;
    color: rgb(95, 98, 160);
}

.main .btn .btn-2 {
    padding: 8px 30px;
    background: #2a2a2a;
    color: #fff;
    border: none;
    outline: none;
    transition: all 200ms ease-in-out;

}

.main .btn .btn-2:hover {
    background: #f4637b;
    transform: scale(1.1);
}

